/* Add this CSS in a separate file (Navbar.css) or in your stylesheets */

body {
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
    color: white;
    width: 100%; /* Set the width to 100% */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-left span {
    font-size: 1.5rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #000000;
    border: 1px solid #2d3748;
    border-radius: 4px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
  
  .menu.show {
    visibility: visible;
    opacity: 1;
  }
  
  .menu-item {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #ffffff;
    border-radius: 4px;
    color: black;
  }
  
  /* Additional styles for open menu */
  .navbar.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  